h1{
    color: blueviolet;
    font-weight: bold;
    font-style: italic;


 } 

 h2{ 
    color: black;
    font-style: italic;
    font-size: medium;
 } 

 h3{ 
    color: black;
    font-style: italic;
    font-size: medium;
 } 

 h4{ 
    color: black;
    font-style: italic;
    font-size: medium;
 } 
 h5{ 
    color: black;
    font-style: italic;
    font-size: medium;
 } 
 